In [97]:
#Import file
import pandas as pd

In [98]:
#Read file and path
fname = "purchase_data.json"
pdata = pd.read_json(fname)

#view Pdata
pdata.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

PLAYER COUNT

#Total Number of Players

In [99]:
#Finding player count unique name & length list
pcount = len(pdata['SN'].unique())

#DataFrame for player count and total
player_df = pd.DataFrame([{'Total player': pcount}])

player_df.set_index('Total player', inplace = True)
player_df

Empty DataFrame
Columns: []
Index: [573]

PURCHASING ANALYSIS(TOTAL)

#Number of Unique Items
#Average Purchase Price
#Total Number of Purchases
#Total Revenue

In [100]:
#Data inspection
pdata['Item ID'].value_counts()

84     11
39     11
31      9
34      9
175     9
13      9
106     8
44      8
92      8
65      8
152     8
107     8
172     7
179     7
115     7
154     7
79      7
158     7
108     7
66      7
11      7
130     7
18      7
124     6
103     6
101     6
121     6
102     6
73      6
145     6
       ..
116     2
89      2
64      2
9       2
167     2
80      2
74      2
72      2
146     2
149     2
150     2
178     2
62      2
58      2
56      2
55      2
4       1
2       1
3       1
59      1
28      1
168     1
164     1
43      1
156     1
147     1
136     1
126     1
109     1
0       1
Name: Item ID, Length: 183, dtype: int64

In [101]:
#for unique items
unique_items = pd.DataFrame(pdata['Item ID'].unique())
len(unique_items)

183

In [102]:
#DataFrame for last Item ID occurence
duplicate_items = pdata.drop_duplicates(['Item ID'], keep = 'last')
duplicate_items

,Age,Gender,Item ID,Item Name,Price,SN
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
21,15,Male,3,Phantomlight,1.79,Iaralrgue74
59,15,Male,2,Verdict,3.40,Ila44
63,23,Male,28,"Flux, Destroyer of Due Diligence",3.04,Ryanara76
88,23,Male,132,Persuasion,3.90,Undotesta33
129,23,Female,126,Exiled Mithril Longsword,3.25,Eurinu48
173,30,Male,0,Splinter,1.82,Chadadarya31
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38
185,22,Male,167,"Malice, Legacy of the Queen",2.38,Siarinum43
196,20,Male,89,"Blazefury, Protector of Delusions",1.50,Chanirra56
205,17,Male,147,"Hellreaver, Heirloom of Inception",3.59,Airidil41
239,24,Female,58,"Freak's Bite, Favor of Holy Might",3.03,Ethruard50
253,15,Male,149,"Tranquility, Razor of Black Magic",2.47,Meosridil82
256,22,Male,17,"Lazarus, Terror of the Earth",3.47,Iadueria43
300,15,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Lisossan98
315,24,Male,54,Eternal Cleaver,3.14,Aelin32
336,15,Male,173,Stormfury Longsword,4.83,Iskadarya95
341,20,Male,9,"Thorn, Conqueror of the Corrupted",2.04,Aeliriarin93
342,15,Female,50,Dawn,2.55,Raedalis34
387,24,Female,51,Endbringer,2.67,Ethruard50
398,25,Female,96,Blood-Forged Skeletal Spine,4.77,Tyaelistidru84
401,17,Male,121,Massacre,3.42,Leulaesti78
411,25,Male,7,"Thorn, Satchel of Dark Souls",4.51,Saedue76
419,25,Female,42,The Decapitator,4.82,Tyeuladeu30
421,22,Male,150,Deathraze,4.54,Ina92
422,24,Male,164,Exiled Doomblade,1.92,Saida58
423,32,Other / Non-Disclosed,29,"Chaos, Ender of the End",3.79,Aithelis62
430,27,Male,74,Yearning Crusher,1.06,Lirtassa47
436,10,Male,131,Fury,4.82,Ethrusuard41
446,22,Male,47,"Alpha, Reach of Ending Hope",1.55,Lisosianya62
...,...,...,...,...,...,...
746,35,Male,34,Retribution Axe,4.14,Ralasti48
748,15,Male,120,Agatha,1.91,Isri49
749,21,Male,114,Yearning Mageblade,1.79,Frichassala85
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [103]:
# Unique ID counts
totalunique = len(duplicate_items)
totalunique

183

In [104]:
#Total purchases by price occurence
totalpurch = pdata['Price'].count()
totalpurch

780

In [105]:
#Total revenue by summing price occurrence
totalrev = round(pdata['Price'].sum(),2)
totalrev

2286.33

In [106]:
#Total average
avgprice = round(totalrev/totalpurch, 2)
avgprice

2.9300000000000002

In [107]:
#Analysis DataFrame
purchase_analysis = pd.DataFrame([{"Number of Unique Items": totalunique, "Average Purchase Price": avgprice, "Total Purchases": totalpurch, "Total Revenue": totalrev}])
purchase_analysis

,Average Purchase Price,Number of Unique Items,Total Purchases,Total Revenue
0,2.93,183,780,2286.33

GENDER DEMOGRAPHICS
#Percentage and Count of Male Players
#Percentage and Count of Female Players
#Percentage and Count of Other / Non-Disclosed

In [119]:
#Unique Player name
duplicate_players = pdata.drop_duplicates(['SN'], keep ='last')
duplicate_players

,Age,Gender,Item ID,Item Name,Price,SN
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59
5,20,Male,10,Sleepwalker,1.73,Tanimnya91
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64
16,22,Female,123,Twilight's Carver,1.14,Sundista85
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25
30,21,Female,155,War-Forged Gold Deflector,3.73,Eulaeria40
31,18,Male,37,"Shadow Strike, Glory of Ending Hope",1.93,Iarilis73
34,22,Male,47,"Alpha, Reach of Ending Hope",1.55,Yararmol43
35,21,Female,13,Serenity,1.49,Aisur51
36,20,Male,44,Bonecarvin Battle Axe,2.46,Undare39
37,31,Male,171,Scalpel,3.62,Sondossa91
39,23,Male,63,Stormfury Mace,1.27,Lassilsa63
40,32,Male,7,"Thorn, Satchel of Dark Souls",4.51,Tyisur83
41,19,Female,124,Venom Claymore,2.72,Aeral43
42,24,Male,25,Hero Cane,1.03,Lassadarsda57
44,22,Male,85,Malificent Bag,2.17,Frichjask31
46,11,Male,17,"Lazarus, Terror of the Earth",3.47,Palatyon26
54,25,Female,101,Final Critic,4.62,Minduli80
55,24,Male,140,Striker,3.82,Heunadil74
56,23,Male,31,Trickster,2.07,Marilsasya33
...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66
756,22,Male,6,Rusty Skull,1.20,Siasri67
757,35,Male,11,Brimstone,2.52,Seosri62
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87
760,29,Male,81,Dreamkiss,4.06,Aerithllora36
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33
762,36,Male,52,Hatred,4.39,Lisosiast26
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25
764,25,Male,70,Hope's End,3.89,Assassasda84
765,15,Male,13,Serenity,1.49,Aerithnucal56
766,22,Female,84,Arcane Gem,2.23,Nitherian58
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78
770,22,Male,141,Persuasion,3.27,Aenasu69
771,24,Male,25,Hero Cane,1.03,Lassista97
772,15,Male,31,Trickster,2.07,Sidap51
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63
774,24,Male,123,Twilight's Carver,1.14,Lassassast73
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85

In [120]:
#Gender values
gcount = duplicate_players["Gender"].value_counts().reset_index()
gcount

                   index  Gender
0                   Male     465
1                 Female     100
2  Other / Non-Disclosed       8

In [121]:
#Adding columns for player % and Gender
gcount["% of players"] = gcount["Gender"]/pcount * 100

#Renaming Columns
gcount.rename(columns = {"index": "Gender", "Gender": "# of Players"}, inplace = True)
gcount

                  Gender  # of Players  % of players
0                   Male           465     81.151832
1                 Female           100     17.452007
2  Other / Non-Disclosed             8      1.396161

PURCHASE ANALYSIS GENDER
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [122]:
#Purchase count by gender
pcountgen = pd.DataFrame(pdata.groupby("Gender")["Gender"].count())
pcountgen

                       Gender
Gender
Female                    136
Male                      633
Other / Non-Disclosed      11

In [123]:
#Gender sum price
totalpgen = pd.DataFrame(pdata.groupby("Gender")["Price"].sum())
totalpgen

                         Price
Gender
Female                  382.91
Male                   1867.68
Other / Non-Disclosed    35.74

In [139]:
#Merging two data frames
p_analysis = pd.merge(pcountgen, totalpgen, left_index = True, right_index = True)
p_analysis

                       Gender    Price
Gender
Female                    136   382.91
Male                      633  1867.68
Other / Non-Disclosed      11    35.74

In [140]:
#Renaming columns
p_analysis.rename(columns = {"Gender": "No of Purchases", "Price": "Total Purchase Value"}, inplace=True)
p_analysis

                       No of Purchases  Total Purchase Value
Gender
Female                             136                382.91
Male                               633               1867.68
Other / Non-Disclosed               11                 35.74

In [141]:
#Adding column average price by gender dividing total purchase No. of purchase
p_analysis['Average Purchase Price'] = p_analysis['Total Purchase Value']/p_analysis['No of Purchases']
p_analysis

,No of Purchases,Total Purchase Value,Average Purchase Price
Gender,,,
Female,136,382.91,2.815515
Male,633,1867.68,2.950521
Other / Non-Disclosed,11,35.74,3.249091

In [144]:
p_analysis = p_analysis.merge(gcount, left_index = True, right_index = True)
p_analysis["Normalized Totals"] = p_analysis["Total Purchase Value"]/p_analysis["% of players"]
p_analysis

Empty DataFrame
Columns: [No of Purchases, Total Purchase Value, Average Purchase Price, Gender_x, # of Players_x, % of players_x, Normalized Totals, Gender_y, # of Players_y, % of players_y, Gender, # of Players, % of players]
Index: []

In [145]:
clean = p_analysis.rename(columns={"Gender_x":"Gender","# of Players_x":"# of Players","% of players_x":"% of players","Gender_y":"Gender","# of Players_y":"# of Players","% of players_y":"% of players"})
clean

Empty DataFrame
Columns: [No of Purchases, Total Purchase Value, Average Purchase Price, Gender, # of Players, % of players, Normalized Totals, Gender, # of Players, % of players, Gender, # of Players, % of players]
Index: []

In [147]:
#deleting unneeded columns
del p_analysis["% of players"]
del p_analysis["# of Players"]
p_analysis

Empty DataFrame
Columns: [No of Purchases, Total Purchase Value, Average Purchase Price, Gender_x, # of Players_x, % of players_x, Normalized Totals, Gender_y, # of Players_y, % of players_y, Gender]
Index: []

AGE DEMOGRAPGICS
#The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
#Purchase Count
#Average Purchase Price
#Total Purchase Value
#Normalized Totals

In [148]:
#Age_bin column based on age range
pdata.loc[(pdata['Age'] < 10), 'age_bin'] = "< 10"
pdata.loc[(pdata['Age'] >= 10) & (pdata['Age'] <= 14), 'age_bin'] = "10 - 14"
pdata.loc[(pdata['Age'] >= 15) & (pdata['Age'] <= 19), 'age_bin'] = "15 - 19"
pdata.loc[(pdata['Age'] >= 20) & (pdata['Age'] <= 24), 'age_bin'] = "20 - 24"
pdata.loc[(pdata['Age'] >= 25) & (pdata['Age'] <= 29), 'age_bin'] = "25 - 29"
pdata.loc[(pdata['Age'] >= 30) & (pdata['Age'] <= 34), 'age_bin'] = "30 - 34"
pdata.loc[(pdata['Age'] >= 35) & (pdata['Age'] <= 39), 'age_bin'] = "35 - 39"
pdata.loc[(pdata['Age'] >= 40), 'age_bin'] = "> 40"
pdata

,Age,Gender,Item ID,Item Name,Price,SN,age_bin
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35 - 39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20 - 24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30 - 34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20 - 24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20 - 24
5,20,Male,10,Sleepwalker,1.73,Tanimnya91,20 - 24
6,20,Male,153,Mercenary Sabre,4.57,Undjaskla97,20 - 24
7,29,Female,169,"Interrogator, Blood Blade of the Queen",3.32,Iathenudil29,25 - 29
8,25,Male,118,"Ghost Reaver, Longsword of Magic",2.77,Sondenasta63,25 - 29
9,31,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Hilaerin92,30 - 34
10,24,Male,57,"Despair, Favor of Due Diligence",3.81,Chamosia29,20 - 24
11,20,Male,47,"Alpha, Reach of Ending Hope",1.55,Sally64,20 - 24
12,30,Male,81,Dreamkiss,4.06,Iskossa88,30 - 34
13,23,Male,77,"Piety, Guardian of Riddles",3.68,Seorithstilis90,20 - 24
14,40,Male,44,Bonecarvin Battle Axe,2.46,Sundast29,> 40
15,21,Male,96,Blood-Forged Skeletal Spine,4.77,Haellysu29,20 - 24
16,22,Female,123,Twilight's Carver,1.14,Sundista85,20 - 24
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20 - 24
18,28,Male,91,Celeste,3.71,Iskista88,25 - 29
19,31,Male,177,"Winterthorn, Defender of Shifting Worlds",4.89,Assossa43,30 - 34
20,24,Male,78,"Glimmer, Ender of the Moon",2.33,Irith83,20 - 24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15 - 19
22,11,Female,11,Brimstone,2.52,Deural48,10 - 14
23,19,Male,183,Dragon's Greatsword,2.36,Chanosia65,15 - 19
24,11,Male,65,Conqueror Adamantite Mace,1.96,Qarwen67,10 - 14
25,21,Male,63,Stormfury Mace,1.27,Idai61,20 - 24
26,29,Male,132,Persuasion,3.90,Aerithllora36,25 - 29
27,34,Male,106,Crying Steel Sickle,2.29,Assastnya25,30 - 34
28,15,Male,49,"The Oculus, Token of Lost Worlds",4.23,Ilariarin45,15 - 19
29,16,Female,45,Glinting Glass Edge,2.46,Phaedai25,15 - 19
...,...,...,...,...,...,...,...
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,20 - 24
751,26,Female,179,"Wolf, Promise of the Moonwalker",1.88,Lisjasksda68,25 - 29
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,15 - 19
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,20 - 24
754,31,Male,104,Gladiator's Glaive,1.36,Sondastan54,30 - 34
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,20 - 24
756,22,Male,6,Rusty Skull,1.20,Siasri67,20 - 24
757,35,Male,11,Brimstone,2.52,Seosri62,35 - 39
758,20,Male,122,Unending Tyranny,1.21,Ryastycal90,20 - 24
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,15 - 19
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,25 - 29
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25 - 29
762,36,Male,52,Hatred,4.39,Lisosiast26,35 - 39
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,25 - 29
764,25,Male,70,Hope's End,3.89,Assassasda84,25 - 29
765,15,Male,13,Serenity,1.49,Aerithnucal56,15 - 19
766,22,Female,84,Arcane Gem,2.23,Nitherian58,20 - 24
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,20 - 24
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,20 - 24
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,20 - 24
770,22,Male,141,Persuasion,3.27,Aenasu69,20 - 24
771,24,Male,25,Hero Cane,1.03,Lassista97,20 - 24
772,15,Male,31,Trickster,2.07,Sidap51,15 - 19
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,20 - 24
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,20 - 24
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,20 - 24
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10 - 14
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,20 - 24
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,20 - 24
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20 - 24

In [149]:
#count purchase by age_bin
pcountage = pd.DataFrame(pdata.groupby('age_bin')['SN'].count())
pcountage

          SN
age_bin
10 - 14   35
15 - 19  133
20 - 24  336
25 - 29  125
30 - 34   64
35 - 39   42
< 10      28
> 40      17

In [151]:
#average price of purchase age_bin
avgpriceage = pd.DataFrame(pdata.groupby('age_bin')['Price'].mean())
avgpriceage

            Price
age_bin
10 - 14  2.770000
15 - 19  2.905414
20 - 24  2.913006
25 - 29  2.962640
30 - 34  3.082031
35 - 39  2.842857
< 10     2.980714
> 40     3.161765

In [152]:
#Total purchase value age_bin
totalpage = pd.DataFrame(pdata.groupby("age_bin")["Price"].mean())
totalpage

            Price
age_bin
10 - 14  2.770000
15 - 19  2.905414
20 - 24  2.913006
25 - 29  2.962640
30 - 34  3.082031
35 - 39  2.842857
< 10     2.980714
> 40     3.161765

In [153]:
#Drop multiple SN and keep last and count unique player by age_bin
ddage = pd.DataFrame(pdata.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())
ddage

          SN
age_bin
10 - 14   23
15 - 19  100
20 - 24  259
25 - 29   87
30 - 34   47
35 - 39   27
< 10      19
> 40      11

In [154]:
#merging into one dataframe
mergeage = pd.merge(pcountage, avgpriceage, left_index = True, right_index = True).merge(totalpage, left_index = True, right_index = True).merge(ddage, left_index = True, right_index = True)
mergeage

         SN_x   Price_x   Price_y  SN_y
age_bin
10 - 14    35  2.770000  2.770000    23
15 - 19   133  2.905414  2.905414   100
20 - 24   336  2.913006  2.913006   259
25 - 29   125  2.962640  2.962640    87
30 - 34    64  3.082031  3.082031    47
35 - 39    42  2.842857  2.842857    27
< 10       28  2.980714  2.980714    19
> 40       17  3.161765  3.161765    11

In [155]:
#Rename columns
mergeage.rename(columns = {"SN_x": "# of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value", "SN_y": "# of Purchasers"}, inplace = True)
mergeage

,# of Purchases,Average Purchase Price,Total Purchase Value,# of Purchasers
age_bin,,,,
10 - 14,35,2.770000,2.770000,23
15 - 19,133,2.905414,2.905414,100
20 - 24,336,2.913006,2.913006,259
25 - 29,125,2.962640,2.962640,87
30 - 34,64,3.082031,3.082031,47
35 - 39,42,2.842857,2.842857,27
< 10,28,2.980714,2.980714,19
> 40,17,3.161765,3.161765,11

In [156]:
#Normalized totals
mergeage['Normalized Totals'] = mergeage['Total Purchase Value']/mergeage['# of Purchasers']
mergeage

,# of Purchases,Average Purchase Price,Total Purchase Value,# of Purchasers,Normalized Totals
age_bin,,,,,
10 - 14,35,2.770000,2.770000,23,0.120435
15 - 19,133,2.905414,2.905414,100,0.029054
20 - 24,336,2.913006,2.913006,259,0.011247
25 - 29,125,2.962640,2.962640,87,0.034053
30 - 34,64,3.082031,3.082031,47,0.065575
35 - 39,42,2.842857,2.842857,27,0.105291
< 10,28,2.980714,2.980714,19,0.156880
> 40,17,3.161765,3.161765,11,0.287433

In [158]:
#rest index for aesthetics
mergeage.index.rename("Age", inplace = True)
mergeage

,# of Purchases,Average Purchase Price,Total Purchase Value,# of Purchasers,Normalized Totals
Age,,,,,
10 - 14,35,2.770000,2.770000,23,0.120435
15 - 19,133,2.905414,2.905414,100,0.029054
20 - 24,336,2.913006,2.913006,259,0.011247
25 - 29,125,2.962640,2.962640,87,0.034053
30 - 34,64,3.082031,3.082031,47,0.065575
35 - 39,42,2.842857,2.842857,27,0.105291
< 10,28,2.980714,2.980714,19,0.156880
> 40,17,3.161765,3.161765,11,0.287433

TOP SPENDERS
#Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
#SN
#Purchase Count
#Average Purchase Price
#Total Purchase Value

In [161]:
pamount_by_SN = pd.DataFrame(pdata.groupby('SN')['Price'].sum())
pamount_by_SN

                 Price
SN
Adairialis76      2.46
Aduephos78        6.70
Aeduera68         5.80
Aela49            2.46
Aela59            1.27
Aelalis34         5.06
Aelin32           3.14
Aeliriam77        6.72
Aeliriarin93      2.04
Aeliru63          8.98
Aellyria80        4.32
Aellyrialis39     3.15
Aellysup38        3.61
Aelollo59         1.55
Aenarap34         1.65
Aenasu69          3.27
Aeral43           2.72
Aeral85           4.25
Aeral97           2.35
Aeri84            6.60
Aerillorin70      1.88
Aerithllora36    10.45
Aerithnucal56     3.18
Aerithnuphos61    1.69
Aerithriaphos45   2.38
Aesty51           1.82
Aesur96           4.66
Aethe80           2.32
Aethedru70        2.97
Aidain51          6.84
...                ...
Undjaskla97       4.57
Undjasksya56      4.53
Undotesta33       3.90
Wailin72          2.04
Whaestysu86       4.08
Yadacal26         1.93
Yadaisuir65       8.56
Yadanun74         9.09
Yalaeria91        1.88
Yaliru88          3.71
Yalo71            2.41
Yalostiphos68     2.37
Yaralnura48       4.19
Yararmol43        1.55
Yarirarn35        2.88
Yaristi64         1.24
Yarithllodeu72    2.19
Yarithphos28      2.35
Yarithsurgue62    4.81
Yarmol79          2.91
Yarolwen77        6.98
Yasriphos60      10.40
Yasrisu92         2.60
Yasur35           2.78
Yasur85           2.04
Yasurra52         3.14
Yathecal72        7.77
Yathecal82        2.41
Zhisrisu83        2.46
Zontibe81         3.71

[573 rows x 1 columns]

In [162]:
nump_by_SN = pd.DataFrame(pdata.groupby('SN')['Price'].count())
nump_by_SN

                 Price
SN
Adairialis76         1
Aduephos78           3
Aeduera68            3
Aela49               1
Aela59               1
Aelalis34            2
Aelin32              1
Aeliriam77           2
Aeliriarin93         1
Aeliru63             2
Aellyria80           1
Aellyrialis39        1
Aellysup38           1
Aelollo59            1
Aenarap34            1
Aenasu69             1
Aeral43              1
Aeral85              1
Aeral97              1
Aeri84               2
Aerillorin70         1
Aerithllora36        3
Aerithnucal56        2
Aerithnuphos61       1
Aerithriaphos45      1
Aesty51              1
Aesur96              1
Aethe80              1
Aethedru70           1
Aidain51             2
...                ...
Undjaskla97          1
Undjasksya56         1
Undotesta33          1
Wailin72             1
Whaestysu86          1
Yadacal26            1
Yadaisuir65          2
Yadanun74            3
Yalaeria91           1
Yaliru88             1
Yalo71               1
Yalostiphos68        1
Yaralnura48          2
Yararmol43           1
Yarirarn35           1
Yaristi64            1
Yarithllodeu72       1
Yarithphos28         1
Yarithsurgue62       2
Yarmol79             1
Yarolwen77           2
Yasriphos60          3
Yasrisu92            1
Yasur35              1
Yasur85              1
Yasurra52            1
Yathecal72           2
Yathecal82           1
Zhisrisu83           2
Zontibe81            1

[573 rows x 1 columns]

In [163]:
avgp_by_SN = pd.DataFrame(pdata.groupby('SN')['Price'].mean())
avgp_by_SN

                    Price
SN
Adairialis76     2.460000
Aduephos78       2.233333
Aeduera68        1.933333
Aela49           2.460000
Aela59           1.270000
Aelalis34        2.530000
Aelin32          3.140000
Aeliriam77       3.360000
Aeliriarin93     2.040000
Aeliru63         4.490000
Aellyria80       4.320000
Aellyrialis39    3.150000
Aellysup38       3.610000
Aelollo59        1.550000
Aenarap34        1.650000
Aenasu69         3.270000
Aeral43          2.720000
Aeral85          4.250000
Aeral97          2.350000
Aeri84           3.300000
Aerillorin70     1.880000
Aerithllora36    3.483333
Aerithnucal56    1.590000
Aerithnuphos61   1.690000
Aerithriaphos45  2.380000
Aesty51          1.820000
Aesur96          4.660000
Aethe80          2.320000
Aethedru70       2.970000
Aidain51         3.420000
...                   ...
Undjaskla97      4.570000
Undjasksya56     4.530000
Undotesta33      3.900000
Wailin72         2.040000
Whaestysu86      4.080000
Yadacal26        1.930000
Yadaisuir65      4.280000
Yadanun74        3.030000
Yalaeria91       1.880000
Yaliru88         3.710000
Yalo71           2.410000
Yalostiphos68    2.370000
Yaralnura48      2.095000
Yararmol43       1.550000
Yarirarn35       2.880000
Yaristi64        1.240000
Yarithllodeu72   2.190000
Yarithphos28     2.350000
Yarithsurgue62   2.405000
Yarmol79         2.910000
Yarolwen77       3.490000
Yasriphos60      3.466667
Yasrisu92        2.600000
Yasur35          2.780000
Yasur85          2.040000
Yasurra52        3.140000
Yathecal72       3.885000
Yathecal82       2.410000
Zhisrisu83       1.230000
Zontibe81        3.710000

[573 rows x 1 columns]

In [164]:
#Merge
merged = pd.merge(pamount_by_SN, nump_by_SN, left_index = True, right_index = True).merge(avgp_by_SN, left_index=True, right_index=True)
merged

                 Price_x  Price_y     Price
SN
Adairialis76        2.46        1  2.460000
Aduephos78          6.70        3  2.233333
Aeduera68           5.80        3  1.933333
Aela49              2.46        1  2.460000
Aela59              1.27        1  1.270000
Aelalis34           5.06        2  2.530000
Aelin32             3.14        1  3.140000
Aeliriam77          6.72        2  3.360000
Aeliriarin93        2.04        1  2.040000
Aeliru63            8.98        2  4.490000
Aellyria80          4.32        1  4.320000
Aellyrialis39       3.15        1  3.150000
Aellysup38          3.61        1  3.610000
Aelollo59           1.55        1  1.550000
Aenarap34           1.65        1  1.650000
Aenasu69            3.27        1  3.270000
Aeral43             2.72        1  2.720000
Aeral85             4.25        1  4.250000
Aeral97             2.35        1  2.350000
Aeri84              6.60        2  3.300000
Aerillorin70        1.88        1  1.880000
Aerithllora36      10.45        3  3.483333
Aerithnucal56       3.18        2  1.590000
Aerithnuphos61      1.69        1  1.690000
Aerithriaphos45     2.38        1  2.380000
Aesty51             1.82        1  1.820000
Aesur96             4.66        1  4.660000
Aethe80             2.32        1  2.320000
Aethedru70          2.97        1  2.970000
Aidain51            6.84        2  3.420000
...                  ...      ...       ...
Undjaskla97         4.57        1  4.570000
Undjasksya56        4.53        1  4.530000
Undotesta33         3.90        1  3.900000
Wailin72            2.04        1  2.040000
Whaestysu86         4.08        1  4.080000
Yadacal26           1.93        1  1.930000
Yadaisuir65         8.56        2  4.280000
Yadanun74           9.09        3  3.030000
Yalaeria91          1.88        1  1.880000
Yaliru88            3.71        1  3.710000
Yalo71              2.41        1  2.410000
Yalostiphos68       2.37        1  2.370000
Yaralnura48         4.19        2  2.095000
Yararmol43          1.55        1  1.550000
Yarirarn35          2.88        1  2.880000
Yaristi64           1.24        1  1.240000
Yarithllodeu72      2.19        1  2.190000
Yarithphos28        2.35        1  2.350000
Yarithsurgue62      4.81        2  2.405000
Yarmol79            2.91        1  2.910000
Yarolwen77          6.98        2  3.490000
Yasriphos60        10.40        3  3.466667
Yasrisu92           2.60        1  2.600000
Yasur35             2.78        1  2.780000
Yasur85             2.04        1  2.040000
Yasurra52           3.14        1  3.140000
Yathecal72          7.77        2  3.885000
Yathecal82          2.41        1  2.410000
Zhisrisu83          2.46        2  1.230000
Zontibe81           3.71        1  3.710000

[573 rows x 3 columns]

In [165]:
#Rename column
merged.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)
merged

                 Total Purchase Value  Purchase Count  Average Purchase Price
SN
Adairialis76                     2.46               1                2.460000
Aduephos78                       6.70               3                2.233333
Aeduera68                        5.80               3                1.933333
Aela49                           2.46               1                2.460000
Aela59                           1.27               1                1.270000
Aelalis34                        5.06               2                2.530000
Aelin32                          3.14               1                3.140000
Aeliriam77                       6.72               2                3.360000
Aeliriarin93                     2.04               1                2.040000
Aeliru63                         8.98               2                4.490000
Aellyria80                       4.32               1                4.320000
Aellyrialis39                    3.15               1                3.150000
Aellysup38                       3.61               1                3.610000
Aelollo59                        1.55               1                1.550000
Aenarap34                        1.65               1                1.650000
Aenasu69                         3.27               1                3.270000
Aeral43                          2.72               1                2.720000
Aeral85                          4.25               1                4.250000
Aeral97                          2.35               1                2.350000
Aeri84                           6.60               2                3.300000
Aerillorin70                     1.88               1                1.880000
Aerithllora36                   10.45               3                3.483333
Aerithnucal56                    3.18               2                1.590000
Aerithnuphos61                   1.69               1                1.690000
Aerithriaphos45                  2.38               1                2.380000
Aesty51                          1.82               1                1.820000
Aesur96                          4.66               1                4.660000
Aethe80                          2.32               1                2.320000
Aethedru70                       2.97               1                2.970000
Aidain51                         6.84               2                3.420000
...                               ...             ...                     ...
Undjaskla97                      4.57               1                4.570000
Undjasksya56                     4.53               1                4.530000
Undotesta33                      3.90               1                3.900000
Wailin72                         2.04               1                2.040000
Whaestysu86                      4.08               1                4.080000
Yadacal26                        1.93               1                1.930000
Yadaisuir65                      8.56               2                4.280000
Yadanun74                        9.09               3                3.030000
Yalaeria91                       1.88               1                1.880000
Yaliru88                         3.71               1                3.710000
Yalo71                           2.41               1                2.410000
Yalostiphos68                    2.37               1                2.370000
Yaralnura48                      4.19               2                2.095000
Yararmol43                       1.55               1                1.550000
Yarirarn35                       2.88               1                2.880000
Yaristi64                        1.24               1                1.240000
Yarithllodeu72                   2.19               1                2.190000
Yarithphos28                     2.35               1                2.350000
Yarithsurgue62                   4.81               2                2.405000
Yarmol79                         2.91               1                2.910000
Yarolwen77                       6.98               2                3.490000
Yasriphos60                     10.40               3                3.466667
Yasrisu92                        2.60               1                2.600000
Yasur35                          2.78               1                2.780000
Yasur85                          2.04               1                2.040000
Yasurra52                        3.14               1                3.140000
Yathecal72                       7.77               2                3.885000
Yathecal82                       2.41               1                2.410000
Zhisrisu83                       2.46               2                1.230000
Zontibe81                        3.71               1                3.710000

[573 rows x 3 columns]

In [172]:
#sort from highest to lowest
merged.sort_values('Total Purchase Value', ascending = False, inplace=True)
merged.head()

/Users/sundayjoseph/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

             Total Purchase Value  Purchase Count  Average Purchase Price
SN
Undirrala66                 17.06               5                3.412000
Saedue76                    13.56               4                3.390000
Mindimnya67                 12.74               4                3.185000
Haellysu29                  12.73               3                4.243333
Eoda93                      11.58               3                3.860000

MOST POPULAR ITEM
#Identify the 5 most popular items by purchase count, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [184]:
#Item count by ID
itemID = pd.DataFrame(pdata.groupby('Item ID')['Item ID'].count())
itemID

         Item ID
Item ID
0              1
1              4
2              1
3              1
4              1
5              3
6              3
7              6
8              6
9              2
10             6
11             7
12             5
13             9
14             5
15             6
16             4
17             3
18             7
19             2
20             4
21             3
22             6
23             4
24             2
25             4
26             4
27             4
28             1
29             3
...          ...
154            7
155            3
156            1
157            4
158            7
159            5
160            5
161            5
162            3
163            3
164            1
165            3
166            3
167            2
168            1
169            4
170            5
171            5
172            7
173            5
174            5
175            9
176            4
177            4
178            2
179            7
180            5
181            3
182            5
183            5

[183 rows x 1 columns]

In [186]:
#Sorting from high to low
itemID.sort_values('Item ID', ascending = False, inplace = True)
itemID

         Item ID
Item ID
39            11
84            11
31             9
175            9
13             9
34             9
65             8
152            8
44             8
107            8
106            8
92             8
158            7
115            7
108            7
66             7
79             7
154            7
130            7
172            7
18             7
179            7
11             7
91             6
103            6
47             6
7              6
8              6
10             6
85             6
...          ...
116            2
96             2
178            2
19             2
62             2
55             2
24             2
80             2
150            2
149            2
58             2
146            2
64             2
132            2
56             2
89             2
156            1
109            1
2              1
136            1
3              1
4              1
126            1
43             1
28             1
147            1
168            1
164            1
59             1
0              1

[183 rows x 1 columns]

In [187]:
#Keeping the first 6 rows
itemID = itemID.iloc[0:6][:]
itemID

         Item ID
Item ID
39            11
84            11
31             9
175            9
13             9
34             9

In [189]:
#Total Purchase value
itemtotal = pd.DataFrame(pdata.groupby('Item ID')['Price'].sum())
itemtotal

         Price
Item ID
0         1.82
1         9.12
2         3.40
3         1.79
4         2.28
5         3.96
6         3.60
7        27.06
8        23.46
9         4.08
10       10.38
11       17.64
12       21.50
13       13.41
14        7.95
15        6.18
16       12.44
17       10.41
18       12.39
19        7.96
20        5.92
21        9.81
22       21.42
23       11.08
24        4.82
25        4.12
26        7.52
27       15.84
28        3.04
29       11.37
...        ...
154      15.33
155      11.19
156       1.16
157       8.84
158      24.92
159      15.05
160      11.10
161       7.25
162       6.12
163       9.06
164       1.92
165      10.11
166      12.75
167       4.76
168       2.64
169      13.28
170       9.90
171      18.10
172      11.83
173      24.15
174      12.30
175      11.16
176      11.88
177      19.56
178       4.82
179      13.16
180      13.90
181      13.68
182      17.40
183      11.80

[183 rows x 1 columns]

In [190]:
#Merging purchase count & purchase value
itemmerge = pd.merge(itemID, itemtotal, left_index = True, right_index = True)
itemmerge

         Item ID  Price
Item ID
39            11  25.85
84            11  24.53
31             9  18.63
175            9  11.16
13             9  13.41
34             9  37.26

In [192]:
#Dropping duplicates
dupitem = pdata.drop_duplicates(['Item ID'], keep = 'last')
dupitem

,Age,Gender,Item ID,Item Name,Price,SN,age_bin
17,22,Female,59,"Lightning, Etcher of the King",1.65,Aenarap34,20 - 24
21,15,Male,3,Phantomlight,1.79,Iaralrgue74,15 - 19
59,15,Male,2,Verdict,3.40,Ila44,15 - 19
63,23,Male,28,"Flux, Destroyer of Due Diligence",3.04,Ryanara76,20 - 24
88,23,Male,132,Persuasion,3.90,Undotesta33,20 - 24
129,23,Female,126,Exiled Mithril Longsword,3.25,Eurinu48,20 - 24
173,30,Male,0,Splinter,1.82,Chadadarya31,30 - 34
177,34,Other / Non-Disclosed,155,War-Forged Gold Deflector,3.73,Assassa38,30 - 34
185,22,Male,167,"Malice, Legacy of the Queen",2.38,Siarinum43,20 - 24
196,20,Male,89,"Blazefury, Protector of Delusions",1.50,Chanirra56,20 - 24
205,17,Male,147,"Hellreaver, Heirloom of Inception",3.59,Airidil41,15 - 19
239,24,Female,58,"Freak's Bite, Favor of Holy Might",3.03,Ethruard50,20 - 24
253,15,Male,149,"Tranquility, Razor of Black Magic",2.47,Meosridil82,15 - 19
256,22,Male,17,"Lazarus, Terror of the Earth",3.47,Iadueria43,20 - 24
300,15,Male,99,"Expiration, Warscythe Of Lost Worlds",4.53,Lisossan98,15 - 19
315,24,Male,54,Eternal Cleaver,3.14,Aelin32,20 - 24
336,15,Male,173,Stormfury Longsword,4.83,Iskadarya95,15 - 19
341,20,Male,9,"Thorn, Conqueror of the Corrupted",2.04,Aeliriarin93,20 - 24
342,15,Female,50,Dawn,2.55,Raedalis34,15 - 19
387,24,Female,51,Endbringer,2.67,Ethruard50,20 - 24
398,25,Female,96,Blood-Forged Skeletal Spine,4.77,Tyaelistidru84,25 - 29
401,17,Male,121,Massacre,3.42,Leulaesti78,15 - 19
411,25,Male,7,"Thorn, Satchel of Dark Souls",4.51,Saedue76,25 - 29
419,25,Female,42,The Decapitator,4.82,Tyeuladeu30,25 - 29
421,22,Male,150,Deathraze,4.54,Ina92,20 - 24
422,24,Male,164,Exiled Doomblade,1.92,Saida58,20 - 24
423,32,Other / Non-Disclosed,29,"Chaos, Ender of the End",3.79,Aithelis62,30 - 34
430,27,Male,74,Yearning Crusher,1.06,Lirtassa47,25 - 29
436,10,Male,131,Fury,4.82,Ethrusuard41,10 - 14
446,22,Male,47,"Alpha, Reach of Ending Hope",1.55,Lisosianya62,20 - 24
...,...,...,...,...,...,...,...
746,35,Male,34,Retribution Axe,4.14,Ralasti48,35 - 39
748,15,Male,120,Agatha,1.91,Isri49,15 - 19
749,21,Male,114,Yearning Mageblade,1.79,Frichassala85,20 - 24
750,23,Male,86,Stormfury Lantern,1.28,Eollym91,20 - 24
752,15,Female,116,Renewed Skeletal Katana,2.37,Yalostiphos68,15 - 19
753,20,Male,4,Bloodlord's Fetish,2.28,Thryallym62,20 - 24
755,22,Female,179,"Wolf, Promise of the Moonwalker",1.88,Ailaesuir66,20 - 24
756,22,Male,6,Rusty Skull,1.20,Siasri67,20 - 24
757,35,Male,11,Brimstone,2.52,Seosri62,35 - 39
759,19,Male,87,"Deluge, Edge of the West",2.20,Chanirrasta87,15 - 19
760,29,Male,81,Dreamkiss,4.06,Aerithllora36,25 - 29
761,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25 - 29
762,36,Male,52,Hatred,4.39,Lisosiast26,35 - 39
763,27,Other / Non-Disclosed,48,"Rage, Legacy of the Lone Victor",4.32,Eurisuru25,25 - 29
764,25,Male,70,Hope's End,3.89,Assassasda84,25 - 29
765,15,Male,13,Serenity,1.49,Aerithnucal56,15 - 19
766,22,Female,84,Arcane Gem,2.23,Nitherian58,20 - 24
767,20,Male,122,Unending Tyranny,1.21,Hailaphos89,20 - 24
768,21,Male,158,"Darkheart, Butcher of the Champion",3.56,Chamucosda93,20 - 24
769,24,Male,73,Ritual Mace,3.74,Frichilsasya78,20 - 24
770,22,Male,141,Persuasion,3.27,Aenasu69,20 - 24
771,24,Male,25,Hero Cane,1.03,Lassista97,20 - 24
772,15,Male,31,Trickster,2.07,Sidap51,15 - 19
773,21,Male,44,Bonecarvin Battle Axe,2.46,Chamadarsda63,20 - 24
774,24,Male,123,Twilight's Carver,1.14,Lassassast73,20 - 24
775,22,Male,98,"Deadline, Voice Of Subtlety",3.62,Eural50,20 - 24
776,14,Male,104,Gladiator's Glaive,1.36,Lirtossa78,10 - 14
777,20,Male,117,"Heartstriker, Legacy of the Light",4.15,Tillyrin30,20 - 24
778,20,Male,75,Brutality Ivory Warmace,1.72,Quelaton80,20 - 24
779,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20 - 24

In [193]:
#Merging to get all information from top 6
mergeID = pd.merge(itemmerge, dupitems, left_index = True, right_on = 'Item ID')
mergeID

,Item ID,Item ID_x,Price_x,Age,Gender,Item ID_y,Item Name,Price_y,SN,age_bin
721,39,11,25.85,26,Male,39,"Betrayal, Whisper of Grieving Widows",2.35,Aeduera68,25 - 29
766,84,11,24.53,22,Female,84,Arcane Gem,2.23,Nitherian58,20 - 24
772,31,9,18.63,15,Male,31,Trickster,2.07,Sidap51,15 - 19
761,175,9,11.16,28,Male,175,Woeful Adamantite Claymore,1.24,Raeduerin33,25 - 29
765,13,9,13.41,15,Male,13,Serenity,1.49,Aerithnucal56,15 - 19
746,34,9,37.26,35,Male,34,Retribution Axe,4.14,Ralasti48,35 - 39

In [194]:
#Columns needed
mergeID = mergeID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
mergeID

,Item ID,Item Name,Item ID_x,Price_y,Price_x
721,39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
766,84,Arcane Gem,11,2.23,24.53
772,31,Trickster,9,2.07,18.63
761,175,Woeful Adamantite Claymore,9,1.24,11.16
765,13,Serenity,9,1.49,13.41
746,34,Retribution Axe,9,4.14,37.26

In [195]:
#Resetting index as item ID for aesthetics
mergeID.set_index(["Item ID"], inplace = True)
mergeID

                                    Item Name  Item ID_x  Price_y  Price_x
Item ID
39       Betrayal, Whisper of Grieving Widows         11     2.35    25.85
84                                 Arcane Gem         11     2.23    24.53
31                                  Trickster          9     2.07    18.63
175                Woeful Adamantite Claymore          9     1.24    11.16
13                                   Serenity          9     1.49    13.41
34                            Retribution Axe          9     4.14    37.26

In [197]:
#Renaming Columns
mergeID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
mergeID

/Users/sundayjoseph/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
39,"Betrayal, Whisper of Grieving Widows",11,2.35,25.85
84,Arcane Gem,11,2.23,24.53
31,Trickster,9,2.07,18.63
175,Woeful Adamantite Claymore,9,1.24,11.16
13,Serenity,9,1.49,13.41
34,Retribution Axe,9,4.14,37.26

MOST PROFITABLE ITEMS
#Identify the 5 most profitable items by total purchase value, then list (in a table):
#Item ID
#Item Name
#Purchase Count
#Item Price
#Total Purchase Value

In [202]:
#Total purchase value by high - low
pvalue = pd.DataFrame(pdata.groupby('Item ID')['Price'].sum())
pvalue.sort_values("Price", ascending = False, inplace = True)
pvalue

         Price
Item ID
34       37.26
115      29.75
32       29.70
103      29.22
107      28.88
101      27.72
7        27.06
145      26.70
39       25.85
152      25.20
102      24.96
158      24.92
66       24.85
84       24.53
173      24.15
128      24.00
148      23.76
46       23.75
108      23.73
8        23.46
153      22.85
73       22.44
91       22.26
48       21.60
12       21.50
22       21.42
49       21.15
30       20.75
121      20.52
81       20.30
...        ...
149       4.94
24        4.82
178       4.82
167       4.76
116       4.74
82        4.44
25        4.12
9         4.08
5         3.96
122       3.63
6         3.60
147       3.59
41        3.48
2         3.40
136       3.30
126       3.25
109       3.20
69        3.18
28        3.04
89        3.00
72        2.78
168       2.64
43        2.38
4         2.28
74        2.12
164       1.92
0         1.82
3         1.79
59        1.65
156       1.16

[183 rows x 1 columns]

In [204]:
pvalue = pvalue.iloc[0:5][:]
pvalue

         Price
Item ID
34       37.26
115      29.75
32       29.70
103      29.22
107      28.88

In [205]:
#Item purchase count
itempcount= pd.DataFrame(pdata.groupby('Item ID')['Item ID'].count())
itempcount

         Item ID
Item ID
0              1
1              4
2              1
3              1
4              1
5              3
6              3
7              6
8              6
9              2
10             6
11             7
12             5
13             9
14             5
15             6
16             4
17             3
18             7
19             2
20             4
21             3
22             6
23             4
24             2
25             4
26             4
27             4
28             1
29             3
...          ...
154            7
155            3
156            1
157            4
158            7
159            5
160            5
161            5
162            3
163            3
164            1
165            3
166            3
167            2
168            1
169            4
170            5
171            5
172            7
173            5
174            5
175            9
176            4
177            4
178            2
179            7
180            5
181            3
182            5
183            5

[183 rows x 1 columns]

In [206]:
#Merging 
pvalue = pd.merge(pvalue, itempcount, left_index = True, right_index = True, how = 'left')
pvalue

         Price  Item ID
Item ID
34       37.26        9
115      29.75        7
32       29.70        6
103      29.22        6
107      28.88        8

In [207]:
#Merging top 5 rows
mergeprofit = pd.merge(pvalue, dupitem, left_index = True, right_on = 'Item ID', how = 'left')
mergeprofit

,Item ID,Price_x,Item ID_x,Age,Gender,Item ID_y,Item Name,Price_y,SN,age_bin
746,34,37.26,9,35,Male,34,Retribution Axe,4.14,Ralasti48,35 - 39
705,115,29.75,7,25,Male,115,Spectral Diamond Doomblade,4.25,Aeral85,25 - 29
657,32,29.70,6,28,Male,32,Orenmir,4.95,Tyarithn67,25 - 29
716,103,29.22,6,9,Male,103,Singed Scalpel,4.87,Ilophos58,< 10
779,107,28.88,8,23,Female,107,"Splitter, Foe Of Subtlety",3.61,Alim85,20 - 24

In [208]:
mergeprofit = mergeprofit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
mergeprofit

     Item ID                   Item Name  Item ID_x  Price_y  Price_x
746       34             Retribution Axe          9     4.14    37.26
705      115  Spectral Diamond Doomblade          7     4.25    29.75
657       32                     Orenmir          6     4.95    29.70
716      103              Singed Scalpel          6     4.87    29.22
779      107   Splitter, Foe Of Subtlety          8     3.61    28.88

In [209]:
mergeprofit.set_index(['Item ID'], inplace=True)
mergeprofit

                          Item Name  Item ID_x  Price_y  Price_x
Item ID
34                  Retribution Axe          9     4.14    37.26
115      Spectral Diamond Doomblade          7     4.25    29.75
32                          Orenmir          6     4.95    29.70
103                  Singed Scalpel          6     4.87    29.22
107       Splitter, Foe Of Subtlety          8     3.61    28.88

In [210]:
mergeprofit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
mergeprofit

/Users/sundayjoseph/anaconda3/lib/python3.6/site-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

,Item Name,Purchase Count,Item Price,Total Purchase Value
Item ID,,,,
34,Retribution Axe,9,4.14,37.26
115,Spectral Diamond Doomblade,7,4.25,29.75
32,Orenmir,6,4.95,29.70
103,Singed Scalpel,6,4.87,29.22
107,"Splitter, Foe Of Subtlety",8,3.61,28.88

In [ ]:
OBSERVATIONS

On the Gender Demographics, males make up over 80 percent of players. The males also make over 80% of the revenue.

Player spend under $20 on item out 573.

Between 25 to 29 age group purchase more expensive items on average.